.details {
  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      gap: 64px;
    }

    @include on-desktop {
      gap: 48px;
    }
  }

  &__content {
    display: grid;
    gap: 48px;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &__button-container {
    @include grid-setup;
  }

  &__button {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }
}

.detail {
  &__photos {
    @include grid-setup;

    margin-bottom: 16px;
  }

  &__link {
    grid-column: span 1;

    transition: all $animation-duration;

    &:hover {
      @media (hover: hover) {
        transform: scale(1.03);
      }
    }

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__text {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include on-desktop {
      max-width: 672px;
    }
  }
}
