.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    box-sizing: border-box;
    height: 48px;
    border-radius: 40px;
    background-color: #f8f8fa;
    border: 1px solid #f8f8fa;

    transition: all $animation-duration;

    &--textarea {
      height: 148px;
      border-radius: 16px;
    }

    &:hover {
      @media (hover: hover) {
        border: 1px solid #d5d7de;
        color: #292929;
      }
    }

    &:hover .form__input::placeholder {
      @media (hover: hover) {
        color: #292929;
      }
    }

    &:focus-within {
      border: 1px solid #292929;
      color: #292929;
    }
  }

  &__input {
    box-sizing: border-box;
    display: block;
    appearance: none;
    outline: none;
    border: none;

    width: 100%;
    background: transparent;
    padding: 14px 16px;
    border-radius: 40px;

    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    transition: all $animation-duration;

    &--textarea {
      appearance: none;
      outline: none;
      border: none;
      resize: none;

      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      width: 100%;
      height: 100%;
      background: transparent;
      padding: 14px 16px;
    }
  }
}
