.icon {
  display: block;
  background-size: contain;
  width: 24px;
  height: 24px;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icons/Icon-Phone.png);

    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: $header-main-color;
    transition: all $animation-duration;

    &:hover {
      transform: scale(1.1);
    }

    &::after {
      content: '+1 234 555-55-55';
      display: block;
      min-width: max-content;
      padding-right: 20px;
      translate: -100%;
      opacity: 0;
      transition: all $animation-duration;
      pointer-events: none;
      transform: scale(0.9);
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(../images/icons/Icon-Burger-menu.png);

    transition: all $animation-duration;

    &:hover {
      background-image: url(../images/icons/Icon-Burger-menu-hover.png);
      transform: scale(1.2);
    }
  }

  &--close {
    background-image: url(../images/icons/Icon-Close.png);

    transition: transform $animation-duration;

    &:hover {
      transform: scale(1.2);
    }
  }
}
