.main {
  background-color: $page-bg-color;

  &__content {
    display: grid;
    grid-gap: 92px;
    padding-bottom: 120px;
    padding-top: 60px;

    @include on-tablet {
      padding-top: 120px;
      grid-gap: 120px;
    }

    @include on-desktop {
      grid-gap: 164px;
    }
  }
}
